<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" tppabs="/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<style>
    div{
        width: 1000px;
        margin: auto;
    }
</style>
<body>
<div>
<table class="layui-table" lay-data="{height:315, url:'/test01', page:true, id:'test'}" lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{field:'sid', width:80, sort: true}">ID</th>
        <th lay-data="{field:'product_name', width:150}">物品名称</th>
        <th lay-data="{field:'price', width:80, sort: true}">价格</th>
        <th lay-data="{field:'gmt_create'}">添加时间</th>
    </tr>
    </thead>
</table>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
</body>
</html>