<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/layui/css/layui.css" tppabs="/layui/css/layui.css" media="all">
<script src="/js/jQuery.js"></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<style>
    #all{
        width: 600px;
        margin: auto;
    }
</style>
<body>
<div id="all">
    <div class="layui-form-item">
        <label class="layui-form-label">账号:</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码:</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-btn">
        <button type="button">登录</button>
    </div>
</div>
</body>
</html>